.header{
    height: 100px;
    background-color: aqua;

}
.logo{
    float: left;
   margin-left: 50px;
    height: 100px;
    width: 250px;
}
.list{
    margin-left: 450px;
    border: 1px ;
}
.login{
   
    margin-left: 750px;
}
